.photo-gallery-grid {
    margin-bottom: 2rem;
}
.photo-gallery-caption {
border-bottom: 1px solid #e5e5e5;
padding-bottom: 0.75em;
padding-top: .375em;
}

.photo-gallery-grid a {
  display: block;
  max-width: 480px;
  position: relative;
}
.photo-gallery-grid a::before {
  background: rgba(12,35,75,.7);
  color: #fff;
  display: block;
  padding: .375rem;
  position: absolute;
  font-family: 'ua-brand-symbols';
  font-size: 1.375rem;
  line-height: 1;
  content: "\e621";
  top: 1rem;
  left: 1rem;
  z-index: 20;
  transition: all 0.2s ease-in-out;
}
.photo-gallery-grid a:hover::before {
  background: rgba(12,35,75,1);
  font-size:2.75rem;
}

@media (min-width:768px) {
  .photo-gallery-grid:nth-child(2n+1) {
    clear:left;
  }
}
@media (min-width:992px) {
  .photo-gallery-grid:nth-child(2n+1) {
    clear:none;
  }
  .photo-gallery-grid:nth-child(3n+1) {
    clear:left;
  }
}
@media (min-width:1200px) {
  .photo-gallery-grid:nth-child(3n+1) {
    clear:none;
  }
  .photo-gallery-grid:nth-child(4n+1) {
    clear:left;
  }
}